header {
	background: var(--main-color);
	color: white;
	text-align: center;
	padding: 100px 0;
}
header h3 {
	font-size: 30px;
}
header h1 {
	font-size: 50px;
}
header p {
	font-size: 20px;
	margin-top: -10px;
}
section#articles {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px auto;
}
section#articles div.article {
	width: 300px;
	flex: 1;
	height: 200px;
	background: var(--secondary-background-color);
	margin: 0 30px;
	border-radius: 10px;
	border: 1px solid var(--secondary-border-color);
	border-bottom: 5px solid var(--primary-border-color);
	box-shadow: 0 10px 15px rgb(238, 238, 238);
}
section#articles div.article div.author {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--primary-border-color);
	padding: 10px 20px;
}
section#articles div.article div.author label {
	font-size: 20px;
	margin-right: 20px;
}
section#articles div.article div.author img {
	width: 50px;
	border-radius: 50%;
}
section#articles div.article div.content {
	padding: 20px;
}
section#articles div.article div.content p {
	font-size: 15px;
}
section#articles div.article div.content a {
	font-size: 15px;
}
section#collaboration {
	background: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
section#collaboration img {
	width: 600px;
}
section#collaboration div {
	margin-right: 50px;
	width: 500px;
}
section#collaboration div h1 {
	font-size: 50px;
}
section#collaboration div p {
	font-size: 25px;
}
@media (max-width: 1200px) {
	section#collaboration img {
		width: 500px;
	}
	section#collaboration div {
		margin-right: 50px;
		width: 400px;
	}
}
@media (max-width: 900px) {
	header {
		padding: 50px 0;
	}
	section#articles {
		flex-direction: column;
	}
	section#articles div.article {
		margin: 30px 0;
		flex: none;
	}
	section#collaboration {
		flex-direction: column;
		padding-bottom: 50px;
	}
	section#collaboration img {
		width: 400px;
	}
	section#collaboration div {
		text-align: center;
		margin: 0;
	}
	section#collaboration div h1 {
		font-size: 50px;
	}
	section#collaboration div p {
		font-size: 25px;
	}
}