header {
	background: var(--main-color);
	color: white;
	text-align: center;
	padding: 100px 0;
}
header h3 {
	font-size: 30px;
}
header h1 {
	font-size: 50px;
}
header p {
	font-size: 20px;
	margin-top: -10px;
}
@media (max-width: 900px) {
	header {
		padding: 50px 0;
	}
}