form {
	width : 400px;
	margin : 50px auto;
	padding: 30px 0;
	border : 1px solid rgb(209, 209, 209);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--secondary-background-color);
	position: relative;
}
form h1 {
	font-size: 40px;
	margin-bottom: 50px;
}
form div {
	position: relative;
	width: 70%;
	margin: 5px 0;
}

form div input {
	width: 90%;
	direction: ltr;
	font-size: 20px;
	padding: 5px 10px;
	border: 1px solid rgb(209, 209, 209);
	border-left: 3px solid rgb(209, 209, 209);
	margin-top: 5px;
}
form button {
	background: var(--main-color);
	margin: 30px 0 20px 0;
	color: white;
	font-size: 20px;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
}
form p {
	font-size: 15px;
}

@media (max-width: 500px) {
	form {
		width: 90%;
	}
	form div {
		width: 80%;
	}
}